html {
  font-family: sans-serif;
  font-size: 16px;
}

/*media queries to make the banner text responsive and with consistent
indentation...I guess the hard way!!
I found out about viewport but did not want to use
something we had not covered in class */

@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1050px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 890px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (max-width: 530px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 390px) {
  html {
    font-size: 14px;
  }
}

/*styling for header with logo and navigation*/

header {
  height: 4rem;
  min-height: 64px; /*keep top bar from shrinking for navigation touchability */
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  min-height: 32px;  /*keep icons from shrinking for navigation legibility */
}

nav {
  display: inline-block;
  margin-right: 1.5rem;
  height: 1.5rem;
}

nav ul li {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

h1 {
  font-size: 2.6em;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

h2 {
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1.3;
}

h3 {
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 0.005em;
  line-height: 1.4;
}

p, span, li {
  font-size: 1em;
  letter-spacing: 0.002em;
  line-height: 1.2;
}

.logo {
  display: flex;
  align-items: center;
}

.light {
  color:grey;
}

/*found sweet spot at 750px for switching to the header mobile layout*/

@media only screen and (min-width: 750px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 749px) {
  .mobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .desktop, .logo {
    display: none;
  }
}

/*styling the banner section*/

.banner {
  background-color: grey;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.banner-img-wrapper {
  width: 60%;
  padding: 2rem 0 2rem 1.5rem;
}

.banner-img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.banner-text {
  max-width: 40%;
  font-size: 1rem;
}

.banner-text h1 {
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.banner-text h3 {
  padding-left: 1.5rem;
}

.button {
  display: block;
  text-align: center;
  color: white;
  background-color: darkgrey;
  padding: 1rem 0;
  margin: 1rem 1.5rem 0 1.5rem;
}

@media only screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
    align-items: stretch;
  }

  .banner-img-wrapper {
    padding: 0;
    width: 100%;
  }

  .banner-text {
    max-width: 100%;
  }

  .button {
    margin: 1rem 1.5rem 0 1.5rem;
  }
}

/*styling the information section */

.information {
  font-size: 1rem;
  display: flex;
}

.main {
  width: 60%;
  padding: 2rem 1.5rem 0 1.5rem;
}

.main img {
  max-height: 100%;
  max-width: 100%;
 }

.main h2 {
  margin: 2rem 0 1.5rem 0;
}

.main span {
  font-size: 0.8em;
  display: block;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.events {
  width: 40%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.event {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.event img {
  width: 35%;
  height: auto;
  margin-left: 1rem;
}

.lecture {
  background-color: grey;
}

.event-text {
  margin-left: 1rem;
}

.event-text h3 {
  line-height: 1;
}

.event-text p {
  margin: 0.5rem 0;
}

@media only screen and (max-width:480px) {
  .main {display: none;}
  .desktop-info {display: none;}
  .events {width: 100%;margin-top: 0;}
  .event {
    flex-direction: column;
    align-items: center;

  }

  .event img {
    width: 90%;
    height: auto;
  }

  .event-text {
    width: 90%;
    align-items: flex-end;
  }

  .lecture {
    background-color: transparent;
  }

  .event-text a {
    display: inline-block;
    padding-bottom: 2rem;
  }

  .lecture a {
    display: inline-block;
    padding-bottom: 1rem;}

}

@media only screen and (min-width:480px) {
  .mobile-info {
    display: none;
  }

}

/*
*/
