@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 400;
  src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v5/XoHm2YDqR7-98cVUETMtug.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v7/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: 'Sintony', sans-serif;
  font-size: 16px;
  transition: all 0.75s ease-in-out 0;
}

/*media queries to make the banner text responsive and with consistent
indentation...I guess the hard way!!
I found out about viewport but did not want to use
something we had not covered in class */

@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1050px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 890px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
}

@media only screen and (max-width: 530px) {
  html {
    font-size: 6px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 14px;
  }
}

/*styling for header with logo and navigation, plus all html tag elements stylings*/

header {
  box-sizing: border-box;
  min-height: 64px; /*keep top bar from shrinking for navigation touchability */
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(106, 126, 133, 1);
  color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  margin-top: 64px;
  width: 100%;
}

img {
  min-height: 32px;  /*keep icons from shrinking for navigation legibility */
}


nav {
  display: inline-block;
  margin-right: 1.5rem;
  height: 1.5rem;
}

nav ul li {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

nav ul li a, a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

nav ul li a:active, a:active {
  color: rgba(200, 248, 118, 1);
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.6em;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1.3;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 0.005em;
  line-height: 1.4;
}

p, span, li, button, a {
  font-size: 1em;
  letter-spacing: 0.002em;
  line-height: 1.2;
}

video {
    max-width: 100%;
    height: auto;
}

/*footer styling*/

footer {
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(191,191,191,1);
}

footer span {
  padding-left: 1.5rem;
}

footer nav ul li a {
  color: rgba(0, 0, 0, 1);
}

@media only screen and (max-width:480px) {
  footer span {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  footer nav {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.light {
  color: rgba(200, 248, 118, 1);
}

 /*found sweet spot at 750px for switching to the header mobile layout*/

@media only screen and (min-width: 750px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 749px) {
  .mobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .desktop, .logo {
    display: none;
  }
}

/*styling the banner section including CTA button*/

.banner {
  font-size: 1rem;
  display: flex;
  align-items: center;
  background-color: rgba(191,191,191,1);
}

.banner-img-wrapper {
  width: 60%;
  padding: 2rem 0 2rem 1.5rem;
}

.banner-img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.banner-text {
  max-width: 40%;
  font-size: 1rem;
}

.banner-text h1 {
  width: 74%;
  padding-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.banner-text h3 {
  width: 74%;
  padding-left: 1.5rem;
}

.banner-text button {
  width: 75%;
  display: block;
  text-align: center;
  background-color: rgba(200, 248, 118, 1);
  padding: 1rem 0;
  margin: 1rem 1.5rem 0 1.5rem;
  border: none;
  cursor: pointer;
}

.banner-text button:hover {
  background-color: rgba(254, 130, 50, 1);
}

@media only screen and (max-width: 480px) {
  .banner {
    flex-direction: column;
    align-items: stretch;
  }

  .banner-img-wrapper {
    padding: 0;
    width: 100%;
  }

  .banner-text {
    width: 95%%;
    max-width: 100%;
  }

  .banner-text h1 {
    margin-top: 2rem;
    width: 95%;
  }

  .banner-text h3 {
    width: 95%;
  }

  .banner-text button {
    width: 90%;
    margin: 1.5rem auto 2rem auto;
  }
}

/*styling the information section */

.information {
  font-size: 1rem;
  display: flex;
  background-color: rgba(106, 126, 133, 1);
  color: rgba(255, 255, 255, 1);
}

.main {
  width: 60%;
  padding: 2rem 1.5rem 0 1.5rem;
}

.main img {
  max-height: 100%;
  max-width: 100%;
 }

.main h2 {
  margin: 2rem 0 1.5rem 0;
}

.main span {
  font-size: 0.8em;
  display: block;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.events {
  width: 40%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.event {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  background-color: rgba(148, 119, 223, 1);
}

.event img {
  width: 35%;
  height: auto;
  margin-left: 1rem;
}

.colored-tile-az {
  background-color: rgba(105, 202, 216, 1);
  color: rgba(0, 0, 0, 1);
}

.colored-tile {
  background-color: rgba(200, 248, 118, 1);
  color: rgba(0, 0, 0, 1);
}

.colored-tile a, .colored-tile-az a {
  color: rgba(0, 0, 0, 1);
}

.colored-tile a:active, .colored-tile-az a:active {
  color: rgba(254, 130, 50, 1);;
}

.event-text {
  margin-left: 1rem;
}

.event-text h3 {
  line-height: 1;
}

.event-text p {
  margin: 0.5rem 0;
}

@media only screen and (max-width:480px) {
  .main {
    display: none;
  }

  .desktop-info {
    display: none;
  }

  .events {
    width: 100%;
    margin-top: 0;
  }

  .event {
    flex-direction: column;
    align-items: center;
  }

  .event img {
    width: 90%;
    height: auto;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .event-text {
    width: 90%;
    padding-left: 1rem;
  }

  .lecture {
    background-color: transparent;
  }

  .event-text a {
    display: inline-block;
    padding-bottom: 2rem;
  }

  .lecture a {
    display: inline-block;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width:480px) {
  .mobile-info {
    display: none;
  }
}

/*Styling of the class offer section*/

.offer {
  background-color: rgba(191,191,191,1);
}

.offer h2 {
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  background-color: rgba(191,191,191,1);
}

.desktop-offer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subject {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 1rem 2rem 1rem;
  max-width: 27%;/*sweet spot for responsive layout "grid"*/
  background-color: rgba(148, 119, 223, 1);
  color: rgba(255, 255, 255, 1);
}

.subject:nth-child(3n+1) {
  margin-left: 4.5rem;
}

.subject:nth-child(3n+0), .subject:last-child {
  margin-right: 4.5rem;
}

.subject:nth-child(4n+2) {
  background-color: rgba(200, 248, 118, 1);
  color: rgba(0, 0, 0, 1);
}

.subject:nth-child(4n+1) {
  background-color: rgba(105, 202, 216, 1);
  color: rgba(0, 0, 0, 1);
}

.subject img {
  width: 100%;
  height: auto;
}

.subject-text {
  margin: 2rem 6.5rem 1.5rem 1rem;
}

.subject-text p {
  margin-top: 0.5rem;
}

@media only screen and (min-width:481px) {
  .mobile-offer {
    display: none;
  }
}

@media only screen and (max-width:480px) {
  .desktop-offer {
    display: none;
  }

  .mobile-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(191,191,191,1);
  }

  .mobile-offer button {
    width: 90%;
    padding: 1rem 0 1.5rem 1rem;
    cursor: pointer;
    display: block;
    margin: 0.5rem 0 0 0;
    text-align: left;
    border: none;
  }

  .mobile-offer button:nth-child(3n+1) {
    background-color: rgba(105, 202, 216, 1);
  }

  .mobile-offer button:nth-child(3n+2) {
    background-color: rgba(200, 248, 118, 1);
  }

  .mobile-offer button:nth-child(3n+3) {
    background-color: rgba(148, 119, 223, 1);
    color: rgba(255, 255, 255, 1);
  }

  .mobile-offer button:first-child {
    margin: 0;
  }

  .mobile-offer button:last-child {
    margin-bottom: 2rem;
  }

  .mobile-offer button:hover {
    background-color: rgba(254, 130, 50, 1);
  }
}

/*styling showcase section*/

.showcase h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  text-align: center;
  background-color: rgba(106, 126, 133, 1);
  color: rgba(255, 255, 255, 1);
}

.thesis-container {
  display: flex;
  align-items: flex-start;
  padding-left: 1.5rem;
  background-color: rgba(106, 126, 133, 1);
  color: rgba(255, 255, 255, 1);
}

.main-thesis {
  width:60%;
  display: flex;
  flex-direction: column;
}

.main-thesis h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.main-thesis p {
  padding-bottom: 2rem;
}

.featured-thesis {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.thesis {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.thesis img {
  width: 35%;
  height: auto;
  margin: 1rem;
}

.thesis-text {
  width: 65%;
}

.thesis-text h3 {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width:480px) {
  .showcase h2 {
    padding-bottom: 1rem;
  }

  .featured-thesis {
    display: none;
  }

  .thesis-container {
    padding-left: 0;
  }

  .main-thesis h3, .main-thesis p {
    display: none;
  }

  .main-thesis {
    width:100%;
    padding-bottom: 1.5rem;
  }
}
